<div class="dragdrop-inner dragdrop-inner">
    {{> component this}}
   <div class="dragdrop-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
    	
    	<div class="dragdrop-container">
    		<img src="http://placehold.it/800x600" width="100%" height="auto">
    		<div class="draggable-content">
    			{{#each _items}}
    				<div id='{{id}}' class='dragdrop-item {{type}} {{class}}' style='left:{{left}};top:{{top}};width:{{width}};height:{{height}}'>{{{body}}}</div>
    			{{/each}}
    		</div>
    	</div>

        <div class="buttons">
            {{> buttons this}}
        </div>
    </div>
</div>